<tr class="<%= name == t(:shipping_address) ? 'shipping-row' : 'billing-row' %>">
  <td class="lbl-col">
    <%= f.label :street, t(:street) + ':' %>
  </td>
  <td colspan="3"><%= f.text_field :street, :class => "fullwidth" %></td>
  <td class="lbl-col">
    <%= f.label :house_number, t(:house_number) + ':' %>
  </td>
  <td colspan="3"><%= f.text_field :house_number, :class => "fullwidth" %></td>
</tr>